<nav class="navlinks d-flex align-items-center pl-5 py-2">
    <a class="ml-4"><strong>MONGO SCRAPPER</strong></a>
    <a class="ml-4" href="/">Home</a>
    <a class="ml-4" href="/saved/article">Saved Articles</a>
    <a class="ml-4"><a href="/scrape" class="navbutton btn"><strong>SCRAPER NEW ARTICLE</strong></a></a>
</nav>