{{> header}}

<section class="row header-image m-0">
</section>

<section class="row m-0 my-5">
    <div class="col-12 px-5">
        <div class="row">
            <div class="col-12">
                <h1>ARTICLES</h1>
            </div>
        </div>
        <hr class="custom-hr">
        <div class="row">
            <div class="col-10">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur eius repudiandae odio
                    cupiditate distinctio quidem!
                </h2>
            </div>
            <div class="col-2 mt-2">
                <a href="" class="btn btn-primary">SAVED ARTICLES</a>
            </div>
        </div>
        <hr class="custom-hr2">
        <div class="row">
            <div class="col-12">
                <h5>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora iste deleniti corporis debitis,
                    minima
                    laudantium nemo voluptates accusantium earum doloribus quibusdam repellendus. Deleniti architecto
                    laudantium dolores non, illo at natus?
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><em>-by Priyansh</em></p>
            </div>
        </div>
        <hr class="custom-hr">
    </div>
</section>